/*--GLOBALS-------------------------------------------------------------------*/
*,
html,
body {
  font-family:'Barlow Condensed',Helvetica,sans-serif!important;
  text-align:center;
}

body {
	margin:0;
	background:rgb(0,17,59);
}

#mn-group {
	width:95%;
	height:95%;
	margin:0 auto 2em auto;
	background:rgb(0,26,91);
	border-radius:5px;
	box-shadow:0 4px 8px 0 rgba(0,0,0,.2);
}

.body-sct {
	margin:0 auto;
	width:90%;
}

a {
	text-decoration:none;
	background:rgb(220,220,220);
	padding:.4em;
	color:rgb(65,65,65);
	transition:.3s;
	border-radius:5px;
}

a:hover {
	background:rgb(65,65,65);
	color:white;
}

ul {
	padding:0;
}

li {
	list-style:none;
}


/*--SPECIFICS-----------------------------------------------------------------*/
.header-sct {
	margin-top:1em;
}

.logo-img {
	margin:0 auto;
	padding-top:1em;
	display:block;
}

.pg-header {
	text-align:center;
	font-size:2.6em;
}

.bdy-chrt {
	background:rgba(43,80,173,1);
	margin-left:auto;
	margin-right:auto;
	padding:1em;
	width:90%;
	overflow:auto;
	border-radius:5px;
}

.bdy-chrt .col-left {
	margin-right:auto;
	float:left;
	width:35%;
	height:100%;
	overflow:contain;
}

.bdy-chrt .col-right {
	margin-left:auto;
	float:right;
	width:65%;
	height:100%;
	overflow:contain;
}

.bdy-chrt .col-left li {
	margin-top:.5em;
}

.bdy-chrt .col-right li {
	margin-top:.5em;
}

.av-expec {
	background:rgba(43,80,173,1);
	width:60%;
	margin-left:auto;
	margin-right:auto;
	margin-top:1.5em;
	padding:.5em;
	border:1px 0 solid rgb(200,200,200);
	border-radius:5px;
}

.av-expec li {
	margin-top:.25em;
}

.ave-head {
	font-weight:bold;
}

.sct3-foot {
	margin-top:3em;
	border-top:1px solid rgba(210,210,210,.5);
}

.crd1 {
	float:left;
}

.crd2 {
	display:inline-block;
}

.crd3 {
	float:right;
}

.s5-cont {
	padding:1em;
}

.foot-sct {
	background:rgba(25,25,25,1);
	bottom:0;
	height:4em;
	border-top:1px solid rgb(35,35,35);
	box-shadow:0 -4px 8px 0 rgba(0,0,0,.2);
}

.foot-sct h4 {
	margin-bottom:0;
}


/*--MULTIPLES,GENERAL*/
.sct-head {
	font-size:2em;
	margin-top:.5em;
}

.crd1,
.crd2,
.crd3 {
	width:30%;
	box-shadow:0 4px 8px 0 rgba(0,0,0,.2);
	transition:.3s;
	background:rgba(43,80,173,.4);
	margin-bottom:1em;
}

.crd1:hover,
.crd2:hover,
.crd3:hover {
	box-shadow:0 8px 16px 0 rgba(0,0,0,.2);
	background:rgba(43,80,173,.8);
}

.sct1-bdy,
.sct2-bdy,
.sct3-bdy,
.sct4-bdy,
.sct5-bdy,
.sct6-bdy {
	font-size:1.4em;
	letter-spacing:1px;
}

.sct1,
.sct2,
.sct3,
.sct4,
.sct5,
.sct6 {
	border-top:2px solid rgba(220,220,220,0.6);
	margin-bottom:3em;
}

.sct1-bdy,
.sct2-bdy,
.sct3-bdy,
.sct4-bdy,
.sct5-bdy,
.sct6-bdy,
.sct-head,
.header-sct,
.foot-sct h4 {
	color:rgb(220,220,220);
}
